<section class="modal_background" *ngIf="!!data.isOpen">
  <div class="modal">
    
    <section class="close-modal">
      <img src="assets/icons/close.png" class="icon" (click)="closeModal()" />
    </section>
    
    <article class="title">
      <h2 class="text-title">{{data.title}}</h2>
      <img [src]="'assets/icons/' + data.emoji" [ngClass]="!!data.emoji ? 'emoji' : 'emoji--hidden'" />
    </article>
    
    <article class="content">
      <span class="content_description">{{data.description}}</span>
      <div class="comment">
        <textarea class="input" rows="3" maxlength="140" (keyup)="getComment($event.target.value)"></textarea>
        <span class="description">{{data.inputDescription}}</span>
      </div>
      <button 
        (click)="clickButton(data.button)"
        [ngClass]="buttonIsActive? 'content_button content_button--active' : 'content_button'"
        >
        {{data.button}}
      </button>
    </article>

  </div>

</section>